<div id="carousel-example" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example" data-slide-to="1"></li>
    <li data-target="#carousel-example" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active">
      <a href="#"><img src="http://www.9sportpro.com/wp-content/uploads/2016/11/Sociedad-vs-Barcelona.jpg" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="http://www1.pictures.zimbio.com/gi/Club+Atletico+de+Madrid+v+Sevilla+FC+La+Liga+OxUtVu_-adAx.jpg" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
    <div class="item">
      <a href="#"><img src="https://buysoccercardsonline.com/wp-content/uploads/2016/09/2016-17-Champions-League.jpg" /></a>
      <div class="carousel-caption">
        <h3>Meow</h3>
        <p>Just Kitten Around</p>
      </div>
    </div>
  </div>

  <a class="left carousel-control" href="#carousel-example" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left"></span>
  </a>
  <a class="right carousel-control" href="#carousel-example" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right"></span>
  </a>
</div>
<hr>




<h2>Available Games</h2>
<h4>Football</h4>
<ul> 

        <li><a href="/game1">Barcelona vs Real Madrid</a> </li>
        <li><a href="#">Manchester United vs Arsenal</a> </li>
        <li><a href="#">Nantez vs Monaco</a> </li>
        <li><a href="#">Germany B vs Chile</a> </li>
        <li><a href="#">Sevilla vs Atletico Madrid</a> </li>
        <li><a href="#">Real Betis vs St. Ettiene</a> </li>
        <li><a href="#">Gormahia vs AFC</a> </li>
        </ul>

