<h1>Add games</h1>

  <form action="/games" method="post">
    <label for="name">Game:</label>
    <input id="name" name="name" type="text" placeholder="Enter game">
    <label for="amount">Amount:</label>
  <input id="amount" name="amount" type="number" placeholder="Enter amount" min="50" max="10000">
  <label for ="choice">Select:</label>
  <input id="choice" name="choice" type ="number" placeholder="1 or 2">

    <button type="submit">Add</button>
  </form>

  <hr>

<a href="/"><button class="button btn">Return Home</button></a>
